# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.swp

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.rdb

# Executables for the examples
v2/examples/chi/chi
v2/examples/getdb/getdb
v2/examples/gin/gin
v2/examples/goji/goji
v2/examples/http/http
v2/examples/martini/martini
v2/examples/negroni/negroni
