name: Build

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**/*.md"
  pull_request:
    paths-ignore:
      - "**/*.md"

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.24.x, 1.25.x]
        db-version: ["6.0", "6.2", "7.0", "7.2"]
        distribution: [redis]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Start Database
      uses: shogo82148/actions-setup-redis@v1
      with:
        redis-version: ${{ matrix.db-version }}
        distribution: ${{ matrix.distribution }}
        auto-start: "true"

    - name: Wait for Database to Start
      run: sleep 10

    - name: Fetch Repository
      uses: actions/checkout@v4

    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}
        go-version-file: ./v2/go.mod
        cache-dependency-path: ./v2/go.sum

    - name: Test
      working-directory: ./v2
      run: go run gotest.tools/gotestsum@latest -f testname -- ./... -race -count=1 -shuffle=on
